.reveal {
    font-size: 150%;
}

.reveal header {
    background: url('../img/header.jpg') no-repeat;
    background-size: 100%;
     height: 65px;
}

.reveal footer {
    position:fixed;
    bottom:0;
    left:0;
    background: url('../img/it-a11y-logo.png');
    background-size: 100%;
    height: 100px;
    width: 100px;
}

.reveal .cite {
    font-size: 70%;
}

.reveal strong {
    color: rgb(231, 173, 82);
}

.reveal .lg-txt {
    font-size: 200%;
}

.reveal .txt-sm {
    font-size: 75%;
}
.reveal .list-unstyled {
	padding-left: 0;
	list-style: none;
}

.reveal .slides section .fragment.strike.visible {
    text-decoration: line-through;
    color: red;
    
}

.reveal h2 {
    margin-top: 25px;
}

.reveal li {
    margin: 10px;
}

header h1 {
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 1px;

}